<div style="background-image: url('back.jpg');"> 
<h1><span style="color: #00ff00;">Your random number between 0 and 1000 is : {{ random_number }}</span></h1>
<p>&nbsp;</p>
<p><span style="color: white;">This is a proof of concept app on Heroku.</span></p>
<p>&nbsp;</p>
<p><span style="color: white;">Source code : https://github.com/hamdyaea/Heroku_Randomizer</span></p>
<p>&nbsp;</p>
<p><span style="color: white;">Number of executions is : {{  counter  }}</span></p>
<p>&nbsp;</p>
<p><span style="color: white;">Your public ip is : {{  yourip }}</span></p>
<p>&nbsp;</p>
<p><span style="color: white;">Developer : Hamdy Abou El Anein</span></p>
<p><span style="color: white;">hamdy.aea@protonmail.com</span></p>
